<div class="row">
<% @movies.each do |movie| %>
	<div class="col-sm-12 col-md-12 col-lg-4">
		<div class="card">
		  <div class="card-body">
		    <h5 class="card-title"><%= movie %></h5>
		    <p class="card-text">Playing in auditorium <%= movie.auditorium %></p>
		  </div>
		  <ul class="list-group list-group-flush">
		  	<% movie.screenings.order(start: :asc).limit(6).each do |screening| %>
		    <li class="list-group-item"><%= decorated_date(screening.start) %>
		    	<% if screening.seats == 0 %>
		    		<%= link_to 'Sold Out', '#', class: "btn btn-primary float-right disabled" %>
		    	<% else %>
		    	<%= link_to 'Buy Ticket', new_screening_order_path(screening), class: "btn btn-primary float-right" %>
		    	<% end %>
		    </li>
		    <% end %>
		  </ul>
		  <div class="card-body">
		    <%= link_to 'View more screenings', movie_path(movie) %>
		  </div>
		</div>
	</div>
<% end %>
</div>
